html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  background-size: cover;
  background-position: center;
  background-image: url("../public/background01.jpg");
}

